<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='shit-post-favicon.svg') }}">
    
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <!-- Static CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700&family=Montserrat:wght@400;500;700;800;900&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
        <div class="container px-2 px-lg-3 py-1">
          <a class="navbar-brand" href="{{ url_for('views.home') }}">Shit/Posting Logo</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-2 py-lg-0">
              <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Find Users</a>
              </li>
              {% if current_user.is_authenticated %}
              <li><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Profile</a></li>
              {% endif %}
              <!-- Only show Login/Register if user is logged out. Otherwise show "Log Out" -->
              {% if not current_user.is_authenticated: %}
              <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('auth.login') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('auth.signup') }}">Sign Up</a>
              </li>
              {% else: %}
              <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('auth.logout') }}">Log Out</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">{% block content %}{% endblock content %}</div>

    <!-- Scripts -->
    {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='js/script.js') }}">
    </script>
  </body>
</html>
