{% extends "layout.html" %}
{% block content %}
<div class="form-container signup p-5 mt-5 mx-auto text-light rounded-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% from 'bootstrap5/form.html' import render_field %}
    <form action="{{ url_for('auth.signup') }}" method="post" class="">
        <div class="mb-3">
            {{ render_field(signup_form.username, class="form-control", placeholder="username") }}
        </div>
        <div class="mb-3">
            {{ render_field(signup_form.email, class="form-control", placeholder="shitpost@email.com") }}
        </div>
        <div class="mb-4">
            {{ render_field(signup_form.password, class="form-control", placeholder="••••••••••") }}
        </div>
        {{ render_field(signup_form.submit, class="btn btn-dark btn-outline-warning align-middle") }}

    </form>
</div>
{% endblock content %}